Django==4.2
djangorestframework==3.14.0
Pillow==9.5.0
moviepy==1.0.3
django-bootstrap-v5==1.0.11
django-widget-tweaks==1.4.12
dj-database-url==2.0.0
gunicorn==20.1.0
whitenoise==6.5.0
psycopg2==2.9.6  # or mysqlclient==2.1.1 if using MySQL
requests==2.31.0
python-decouple==3.8
virtualenv==20.23.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
virtualenvwrapper-win==1.2.7
whitenoise==6.5.0
six==1.16.0
python-magic==0.4.27
htmlmin==0.1.12
python-magic-bin==0.4.14
html5lib==1.1
json5==0.9.14
jsonpointer==2.4
regex==2023.10.3
python-dateutil==2.8.2
pickle-mixin==1.0.2
pickleshare==0.7.5
