<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>TrendWave/footer</title>
</head>
<style>
    a {
        text-decoration: none;
    }
    #footer_trendwave{
        z-index: 1000;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
    }
    .custom-font1{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    }
</style>
<body>
    <footer id="footer_trendwave">
        <div class="container-fluid bg-dark text-light mt-0 pt-0">
            <div class="container py-5">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <h6>Contact Us</h6>
                        <p class="font-weight-light"><a href="mailto:smemeshub@gmail.com">smemeshub@gmail.com</a></p>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <h6>Follow Us</h6>
                        <p class="font-weight-light">
                            <a href="https://www.instagram.com/wilfrd_ke" rel="noopener noreferrer" target=_blank>
                                <img src="{% static 'images/instagram.jpeg' %}" alt="Instagram" class="img-fluid"
                                    style="width: auto; height: 30px; object-fit: scale-down;"></a>
                            <a href="https://www.linkedin.com/in/wilfred-omwaga-789267263/" rel="noopener noreferrer"
                                target="_blank"><img src="{% static 'images/linkedin.png' %}" alt="LinkedIn"
                                    class="img-fluid" style="width: auto; height: 30px; object-fit: scale-down;"></a>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h5 class="d-flex align-items-center">
                            <div class="custom-font1">tw</div>
                            <span class="ml-3 mx-2">TrendWave</span>
                        </h5>
                        <p style="font-size: 12px;">Welcome to TrendWave, where you can dive into the latest trends and ride the waves of viral content. Explore a world of
                        creativity, entertainment, and discovery as you scroll through our curated selection of trending topics. From viral
                        challenges to the hottest memes, TrendWave keeps you in the loop with what's capturing the internet's attention right
                        now. We are working toward adding more features. Send a feedback for any queries</p>
                    </div>
                </div>
            </div>
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="{% url 'homepage' %}" class="nav-link">Home</a></li>
                <br><br>
                <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">Feedback</a>
                </li>
                <br><br>
                <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
                <br><br>
                <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">Contact Support</a>
                </li>
                <br><br>
                <li class="nav-item"><a href="{% url 'discover' %}" class="btn nav-link">Discover</a>
                </li>
                <br>
                <li class="nav-item"><a href="{% url 'privacy' %}" class="nav-link" target="_blank">Privacy,Terms and Conditions</a></li>
            </ul>
        </div>
        </li>
        </ul>
        <div class="container text-center py-3">
            <p style="font-size: 12px;">Copyright &copy; TrendWave 2024 All Rights Reserved</p>
        </div>
        </div>
    </footer>
</body>

</html>